
.item {
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin: 0px 10px 5px;
  box-shadow: 10px 5px 5px rgba(80, 34, 34, 0.274);
padding: 3px 0px 3px 18px;
  background-color: rgba(18, 31, 31, 0.507);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.322) 0%, rgba(9, 9, 121, 0.336) 35%, rgba(0, 60, 255, 0.418) 100%);

}
.item img{
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;

}

.like {
  justify-content: center;
  margin-bottom: 15px;
  width: 80px;
  align-items: center;
  display: flex;
  color: #000e0b;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.582);
  border-radius: 40px;
  background: #ff979770;
}
.like img{
width: 25px;
margin-right:10px;
}