
.item {
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin: 0px 10px 5px;
  box-shadow: 10px 5px 5px rgba(80, 34, 34, 0.274);
padding: 3px 0px 3px 18px;
  background-color: rgba(18, 31, 31, 0.507);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.322) 0%, rgba(9, 9, 121, 0.336) 35%, rgba(0, 60, 255, 0.418) 100%);

}
.item img{
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;

}

.item.active {
  color: rgb(19, 252, 38);
}

.like {
  
  margin-bottom: 15px;
  text-align: center;
  width: 100px;
  color: rgb(254, 255, 255);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.582);
  padding: 3px;
/*   background-color: rgba(187, 240, 240, 0.247); */
  border-radius: 40px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.322) 0%, rgba(9, 9, 121, 0.336) 35%, rgba(0, 60, 255, 0.418) 100%);
}