.app-wraper {
  overflow: hidden;
  width: 1200px;
  padding: 15px 15px 0px ;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  background-color: #ffffff;
  background: linear-gradient(90deg, rgba(0, 213, 255, 0.26) 0%, rgba(9, 9, 121, 0.205) 35%, rgba(2, 0, 36, 0.164) 100%);
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wraper-content {
  border-radius: 10px;
  grid-area: c;
  background: linear-gradient(90deg, rgba(0, 213, 255, 0.753) 0%, rgba(9, 9, 121, 0.205) 35%, rgba(2, 0, 36, 0.589) 100%);
}



